html, body {
    margin: 0;
    overflow-x: hidden;
}

html {
    font-family: Arial;
    color: #11053b;
    font-size: 1em;
    /* line-height: 8px; */
}

body {
    margin: 0;
}

img {
    display: block;
}

p {
    margin: 0;
    text-align: left;
    
}

#homepage {
    min-height: 100vh;
    min-width: 100vw;
    margin-bottom: -1px;
    position: relative;
}

#homepage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----------------------banner--------------------------------. */

#bannerContainer {
    position: relative;

}

#banner {
    min-height: 100vh;
    width: 100%;
    position:relative;
}

#insiemeFramesBanner {
    height: 100%;
    display: flex;
    position: relative;
}

.frameBanner {
    height: 100%;
    min-width: 100vw;
    flex: none;
    position: relative;
    
}

.frameBanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
/* ----------------------------- testi della storia ----------------------------------- */

@font-face {
    font-family: Rouli;
    src: url(font/Rouli.woff2) format(woff2);
}
@font-face {
    font-family: IndieFlower;
    src: url(font/IndieFlower.woff2) format(woff2);
}

.charSpecial {
    font-family: IndieFlower;
    font-size: 0.7em;
    line-height: 2%;
}

.testiStoria {
    font-family: Rouli;
    position: absolute;
    bottom: 50%;
    right: 50%;
    padding: 1.3%;
    font-weight: bold;
    font-size: 2.5vh;
    user-select: text;
    z-index: 3;
    white-space: nowrap;
}

#testo1 {
    bottom: 12%;
    right: 0%;
}

#testo2 {
    top: 12%;
    left: 5%;
}

#testo3 {
    bottom: 12%;
    right: 5%;
}

#testo4 {
    top: 12%;
    right: 5%;
}

#testo5 {
    top: 12%;
    right: 25%;
}

#testo6 {
    bottom: 12%;
    right: 5%;
    font-style: italic;
}

#testo7 {
    top: 12%;
    left: 5%;
}

#testo8 {
    bottom: 12%;
    right: 5%;
}

#testo9 {
    top: 12%;
    right: 5%;
}

#testo10 {
    bottom: 12%;
    left: 5%;
}

#testo11 {
    top: 12%;
    left: 15%;
    font-style: italic;

}

#testo12 {
    bottom: 12%;
    left: 25%;
}

#testo13 {
    top: 12%;
    left: 5%;
}

#testo14 {
    top: 12%;
    right: 5%;
}

#testo15 {
    bottom: 12%;
    left: 40%;
    font-style: italic;
}

#testo16 {
    top: 12%;
    left: 27%;
    color: white;
}

#testo17 {
    top: 12%;
    right: 5%;
}

#testo18 {
    bottom: 12%;
    right: 5%;
}

#testo19 {
    top: 12%;
    left: 30%;
}

#testo20 {
    bottom: 12%;
    left: 5%;
}

#testo21 {
    top: 12%;
    right: 5%;
    font-style: italic;
}

#testo22 {
    top: 12%;
    left: 10%;
    color: white;
}

/* ---------------------------------------------------------------------------- */

#sittingBirdContainer {
height: 100%;
width: auto;
position: absolute;
top: 0;
z-index: 2;
}

.birds {
    height: 50%;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#birdContainer {
    position: fixed;
    display: none;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#sittingBirdEnd {
    height: 100%;
    width: auto;
    position: static;
    top: 0;
    z-index: 2;
    right: 0;
}

#sittingBirdEndContainer {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#uccelloSedutoFine {
    opacity: 0;
}

/* -----------------------------menu----------------------------- */
menu, ul {
    margin: 0;
    padding: 0;
}

menu {
    height: 100%;
}

menu ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

menu li {
    text-align: center;
    width: 70%;
    margin-bottom: 100%;
}

menu li:last-child {
    margin-bottom: 0;

}

menu a img {
    display: block;
    width: 100%;
}

#menu {
    background-image: url("images/elementiMenu/baseMenu/baseMenu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    height: 70vh;
    width: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: -100%;
}

menu li a img {
    width: 100%;
    height: 100%;

}
/* ------------------------------------------------ */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slide-in {
    from {
        left: -100%;
    }
    to {
        left: 0; 
    }
}

@keyframes slide-out {
    from {
        left: 0;
    }
    to {
        left: -100%; 
    }
}