html, body {
    margin: 0;
    overflow-x: hidden;
}

html {
}

body {
    margin: 0;
}

img {
    display: block;
}

p {
    margin: 0;
    text-align: justify;
    font-size: 1em;
}

#homepage {
    min-height: 100vh;
    width: 100vw;
    /* background-image: url("images/homepageProva16_9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom; */
    margin-bottom: -1px;
    position: relative;
}

#homepage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----------------------banner--------------------------------. */

#bannerContainer {
    position: relative;

}

#banner {
    height: 100vh;
    width: 100%;
    position:relative;
}

#insiemeFramesBanner {
    height: 100%;
    display: flex;
    position: relative;
}

.frameBanner {
    height: 100%;
    width: auto;
    flex: none;
    
}

.frameBanner img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

#testo1 {
    width: 15vw;
    height: 10vh;
    opacity: 0;
    position: absolute;
    bottom: 15%;
    right: 10%;
}

#birdContainer {
height: 100%;
width: 100%;
width: auto;
position: absolute;
top: 0;
z-index: 2;
}

.birds {
    height: 50%;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -----------------------------menu----------------------------- */
menu, ul {
    margin: 0;
    padding: 0;
}

menu {
    height: 100%;
}

menu ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

menu li {
    text-align: center;
    width: 70%;
    margin-bottom: 100%;
}

menu li:last-child {
    margin-bottom: 0;

}

menu a img {
    display: block;
    width: 100%;
}

#menu {
    background-image: url("images/elementiMenu/baseMenu/baseMenu.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 70vh;
    width: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

menu li a img {
    width: 100%;
    height: 100%;

}
/* ------------------------------------------------ */



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}